@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
}

.page--auth {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .form {
        background: #ffffff;
        min-width: 17rem;

        &__title {
            margin: 0 0 0.5rem;
            text-transform: uppercase;
            font-weight: 400;
            padding: 0.5rem 1rem;
            background: #dcdcff;
            color: #262626;
        }

        &__body {
            padding: 0 1rem;
        }

        &__footer {
            padding: 0 1rem 1rem;
            text-align: right;

            a {
                color: #333333;
                font-size: 0.85rem;
                text-decoration: none;
                border-bottom: 1px dashed;
            }
        }
    }
}

