<template>
  <div class="page page--auth">
    <div class="form form--login">
      <h3 class="form__title">Login</h3>
      <div class="form__body">
        <ElForm
            ref="loginForm"
            :model="credential"
            :rules="formRules"
            label-position="top"
            label-width="auto"
        >
          <ElFormItem size="small" label="Username" prop="username">
            <ElInput v-model="credential.username" placeholder="Username"/>
          </ElFormItem>
          <ElFormItem size="small" label="Password" prop="password">
            <ElInput v-model="credential.password" placeholder="Password" type="password"/>
          </ElFormItem>
          <ElFormItem size="small">
            <ElButton type="primary" @click="login">Login</ElButton>
          </ElFormItem>
        </ElForm>
      </div>
      <div class="form__footer">
        <RouterLink :to="{name: 'Register'}">Register</RouterLink>
      </div>
    </div>
  </div>
</template>

<script>
import AuthService from '../../sevices/AuthService';
import router from "../../routes";

const formRules = {
  username: [
    {required: true, message: 'Username is required.', trigger: 'change'},
  ],
  password: [
    {required: true, message: 'Password is required', trigger: 'change'},
  ],
};

export default {
  name: 'Login',
  components: {},
  computed: {
    formRules: () => formRules,
  },
  data() {
    return {
      credential: {
        username: '',
        password: '',
      },
      loginFailed: null,
      loading: false,
    };
  },
  methods: {
    async login() {
      if (this.loading) {
        return;
      }

      try {
        await this.$refs.loginForm.validate();
      } catch (e) {
        return;
      }

      this.loading = true;

      try {
        const isLoggedIn = await AuthService.login(this.credential);

        if (isLoggedIn) {
          this.$message.success(`Welcome Back, ${this.credential.username}!`);

          await router.push({name: 'Home'});
        } else {
          this.$message.error('Invalid credential!');
        }
      } catch (e) {
        console.dir(e);
      } finally {
        this.loading = false;
      }
    },
  }
}
</script>
