<template>
  <div class="page page--auth">
    <div class="form form--login">
      <h3 class="form__title">Register</h3>
      <div class="form__body">
        <ElForm
            ref="registerForm"
            :model="credential"
            :rules="formRules"
            label-position="top"
            label-width="auto"
        >
          <ElFormItem size="small" label="Username" prop="username">
            <ElInput v-model="credential.username" placeholder="Username"/>
          </ElFormItem>
          <ElFormItem size="small" label="Password" prop="password">
            <ElInput v-model="credential.password" placeholder="Password" type="password"/>
          </ElFormItem>
          <ElFormItem size="small">
            <ElButton type="primary" @click="register">Register</ElButton>
          </ElFormItem>
        </ElForm>
      </div>
      <div class="form__footer">
        <RouterLink :to="{name: 'Login'}">Login</RouterLink>
      </div>
    </div>
  </div>
</template>

<script>
import AuthService from '../../sevices/AuthService';
import router from "../../routes";

const formRules = {
  username: [
    {required: true, message: 'Username is required.', trigger: 'change'},
  ],
  password: [
    {required: true, message: 'Password is required', trigger: 'change'},
  ],
};

export default {
  name: 'Register',
  components: {},
  computed: {
    formRules: () => formRules,
  },
  data() {
    return {
      credential: {
        username: '',
        password: '',
      },
      loading: false,
    };
  },
  methods: {
    async register() {
      if (this.loading) {
        return;
      }

      try {
        await this.$refs.registerForm.validate();
      } catch (e) {
        return;
      }

      this.loading = true;

      try {
        const isRegistered = await AuthService.register(this.credential);

        if (isRegistered) {
          this.$message.success('Your account has been created.');

          await router.push({name: 'Login'});
        }

      } catch (e) {
        console.dir(e);
      } finally {
        this.loading = false;
      }
    },
  }
}
</script>
