<template>
  <div class="page-wrapper">
    <RouterView/>
  </div>
</template>

<script>
import TokenService from "./sevices/TokenService";

export default {
  name: 'OrionHealth',
  beforeCreate() {
    TokenService.initialize();
  }
};
</script>

<style scoped>
.page-wrapper {
  height: 100vh;
  width: 100vw;
}
</style>



