<template>
  <nav class="navigation">
    <strong class="navigation__title">Orion Health</strong>
    <el-button type="danger" circle icon="el-icon-switch-button" size="mini" @click.prevent="logout"/>
  </nav>
</template>

<script>
import TokenService from "../sevices/TokenService";
import router from "../routes";

export default {
  name: "Navigation",
  methods: {
    logout() {
      TokenService.remove();
      router.push({ name: 'Login' });
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  height: 3rem;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0 0 5px #c4c4c4;

  &__title {
    color: #755cff;
  }
}
</style>
