<template>
  <ElForm
      ref="form"
      :model="medication"
      :rules="medicationFormRules"
      label-position="top"
      label-width="auto"
  >
    <ElFormItem label="Medication Name" prop="name">
      <ElInput v-model="medication.name" placeholder="Medication Name"/>
    </ElFormItem>
    <ElFormItem label="Medication Datetime" prop="date">
      <ElInput v-model="medication.date" placeholder="Date" type="datetime-local"/>
    </ElFormItem>
    <ElFormItem>
      <ElButton :disabled="loading" type="primary" @click.prevent="add">Add</ElButton>
      <ElButton :disabled="loading" @click.prevent="reset">Reset</ElButton>
    </ElFormItem>
  </ElForm>
</template>

<script>
import MedicationService from "../../sevices/MedicationService.js";

const rules = {
  name: [
    {required: true, message: 'Medication name is required.', trigger: 'change'},
  ],
  date: [
    {required: true, message: 'Date is required', trigger: 'change'},
  ],
};


export default {
  name: "AddMedicationForm",
  components: {},
  computed: {
    medicationFormRules() {
      return rules;
    }
  },
  data() {
    return {
      medication: {
        name: '',
        date: '',
      },
      loading: false,
    }
  },
  methods: {
    async add() {
      if (this.loading) {
        return;
      }

      this.loading = true;

      const medication = {
        name: this.medication.name,
        medicationDateTime: (new Date(this.medication.date)).getTime(),
      };

      try {
        await this.$refs.form.validate();

        await MedicationService.add(medication);

        this.reset();

        this.$message.success('Medication added!');

        this.$emit('onMedicationAdded');
      } catch (e) {
        console.dir(e);
      } finally {
        this.loading = false;
      }
    },
    reset() {
      this.$refs.form.resetFields();
    }
  }
}
</script>

<style scoped>

</style>
