<template>
  <ElForm
      ref="searchForm"
      :inline="true"
      :model="search"
      label-position="top"
      label-width="auto"
  >
    <ElFormItem prop="name">
      <ElInput :size="size" v-model="search.name"  placeholder="Medication Name"/>
    </ElFormItem>
    <ElFormItem prop="dateRange">
      <ElDatePicker
          :size="size"
          v-model="search.dateRange"
          :shortcuts="search.shortcuts"
          end-placeholder="End date"
          range-separator="To"
          start-placeholder="Start date"
          type="datetimerange">
      </ElDatePicker>
    </ElFormItem>

    <ElFormItem>
      <ElButton :size="size" :loading="loading" type="primary" @click.prevent="$emit('onFilter', filterParam)">Search</ElButton>
    </ElFormItem>
  </ElForm>
</template>

<script>
import dayjs from 'dayjs';

const RANGE = {
  WEEK: [dayjs().subtract(1, 'week').toDate(), new Date()],
  MONTH: [dayjs().subtract(1, 'month').toDate(), new Date()],
  THREE_MONTH: [dayjs().subtract(3, 'month').toDate(), new Date()],
};

const SHORTCUT = [
  {
    text: 'Last week',
    value: RANGE.WEEK,
  }, {
    text: 'Last month',
    value: RANGE.MONTH
  }, {
    text: 'Last 3 months',
    value: RANGE.THREE_MONTH,
  }
];

export default {
  name: "Filter",
  props: ['loading'],
  data() {
    return {
      size: 'mini',
      search: {
        shortcuts: SHORTCUT,
        dateRange: RANGE.WEEK,
        name: ''
      }
    };
  },
  computed: {
    filterParam() {
      let fromDate = null;
      let toDate = null;

      if (this.search.dateRange !== null) {
        fromDate = new Date(this.search.dateRange[0]).getTime()
      }
      if (this.search.dateRange !== null) {
        toDate = new Date(this.search.dateRange[1]).getTime()
      }

      return {
        name: this.search.name,
        fromDate: fromDate,
        toDate: toDate,
      };
    }
  },
  mounted() {
    this.$emit('onFilter', this.filterParam);
  }
}
</script>

<style scoped>

</style>
