<template>
  <div>
    <Filter ref="filter" @onFilter="onFilter" :loading="loading"/>

    <el-timeline>
      <el-timeline-item
          v-for="(medication, index) in medications"
          :key="index"
          placement="top"
          :timestamp="medication.medicationDateTime"
      >
        <el-card class="intake">
          <p>Medication Intake: <span class="intake__name">{{medication.name}}</span></p>
        </el-card>
      </el-timeline-item>
    </el-timeline>

    <div class="pagination" v-if="medications.length">
      <el-pagination v-bind="pagination" small @currentChange="onPageChange"/>
    </div>
    <div class="no-data" v-else>
      <p>No medication records found!</p>
    </div>
  </div>
</template>

<script>
import Filter from "./Filter.vue";
import MedicationService from "../../sevices/MedicationService";
import dayjs from "dayjs";

export default {
  name: "Medications",
  components: {Filter},
  data() {
    return {
      medications: [],
      pagination: {
        pageSize: 10,
        currentPage: 1,
        pageCount: 1,
        layout: 'prev, pager, next',
      },
      loading: false,
    }
  },
  computed: {
    offset() {
      return this.pagination.currentPage - 1;
    }
  },
  methods: {
    async search(params) {
      this.loading = true;
      const {data: {content, totalPages}} = await MedicationService.search(params);

      this.pagination.pageCount = totalPages;

      this.medications = content.map((record) => {
        record.medicationDateTime = dayjs(record.medicationDateTime).format('DD MMM YYYY h:mm A');

        return record;
      });

      this.loading = false;
    },
    onFilter(filterParam) {
      const params = Object.assign(filterParam, {
        offset: this.offset,
        size: this.pagination.pageSize,
      });

      this.search(params);
    },
    onPageChange(page) {
      this.pagination.currentPage = page;

      const params = Object.assign(this.$refs.filter.filterParam, {
        offset: this.offset,
        size: this.pagination.pageSize,
      });

      this.search(params);
    }
  },
}
</script>

<style lang="scss">
.intake {
  &__name {
    font-weight: 500;
    color: #333;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: transparent;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  color: #a7a7a7;
  font-weight: 300;
}
</style>
