<template>
  <div>
    <Navigation/>

    <ElContainer>
      <ElMain>
        <ElTabs v-model="activeName" type="border-card">
          <ElTabPane label="Medication List" name="list">
            <Medications ref="medications"/>
          </ElTabPane>
          <ElTabPane label="Add Medication" name="add">
            <AddMedicationForm @onMedicationAdded="onMedicationAdded"/>
          </ElTabPane>
        </ElTabs>
      </ElMain>
    </ElContainer>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
import AddMedicationForm from "../components/medication/AddMedicationForm.vue";
import Medications from "../components/medication/Medications.vue";
import Filter from "../components/medication/Filter.vue";

export default {
  name: "Home",
  components: {
    Filter,
    Medications,
    AddMedicationForm,
    Navigation,
  },
  data() {
    return {
      activeName: 'list'
    };
  },
  methods: {
    onMedicationAdded() {
      this.$refs.medications.onPageChange(1);
    }
  }
}
</script>

<style scoped>

</style>
